/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Lists
2.0 - Navigation Menus
	2.1 - Main
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
    3.2 - Home
    3.3 - Services
    3.4 - Providers
    3.5 - FAQ
    3.6 - Contact
4.0 - Media
    4.1 - Orbit
5.0 - Utility
	5.1 - Background Colors
    5.2 - Alignments
6.0 - Media Queries

--------------------------------------------------------------*/

* {
    font-family: 'Noto Sans KR', sans-serif;
}

/*--------------------------------------------------------------
1.0 - Typography
-------------------------------------------------------------- */

h1, h1 span, body > .callout p:first-child, h2, h2 span, h4 {
    font-family: 'Noto Serif', serif;
}

h3, .h3 {
    font-family: 'Noto Sans KR', sans-serif;
}

h1, #providers h2, body > .callout p:first-child, body > .callout h2, .social-media span {
    font-style: italic;
}

p, h4, p a, .close-button, .card h3, .exo-menu > li > a:hover,
li.drop-down ul > li > a:hover, .exo-menu > li:nth-child(3) > .active:hover, .provider-page > .callout a, .callout h2, .callout h3  {
    color: #16292b;
}

h1 span, h2, h3, .h3, .button, .accordion-item.is-active .accordion-title, .button[type="submit"], .cell-group li a {
    color: #095369;
}

nav li a, footer p, footer a, h4, header .callout p a:hover, .cell-group li a:hover, .close-button:hover, .button:hover, .provider-page > .callout a:hover {
    color: #fff;
}

h2, body > .callout p:first-child {
    font-size: 1.5rem;
}

nav li a, .button, h4, form label, footer li a, .uppercase, .short-bio h2+p, .provider-page h1+p {
    text-transform: uppercase;
}

p a, .cell-group li a, nav li a, h3, .h3, h4, .accordion-title, form label, #contact .rules .cell:first-child, .provider-page > .callout a {
    font-weight: 800;
}

.button {
    font-weight: 700;
}

h1, .short-bio h2+p, .provider-page h1+p, p a:hover {
    color: #547787;
}

p, footer .medium-order-2 p:first-child {
    line-height: 2rem;
}

h1, .social-media {
    font-size: 2rem;
}

.social-media {
    white-space: nowrap;
}

h1, .social-media {
    font-size: 2rem;
}

/*--- 1.1 Headings ---*/

h1 {
    line-height: 1.2;
    margin-top: 12rem;
}

.provider-page h1 {
    font-size: 1.75rem;
}

h1 span {
    font-size: 3rem;
}

h1 span, h2 span {
    font-style: normal;
}

h2 span {
    font-weight: 400;
}

.provider-page h1 span, h4, .social-media span, h3, .h3 {
    font-size: 1rem;
}

/*--- 1.2 - Body Copy ---*/

footer p, body > div ul, body > section ul {
    line-height: 1.8rem;
}

nav li a, .button, form label, .button-group .button, .button[type="submit"] {
    font-size: .7rem;
    letter-spacing: 2px;
}

footer, footer .social-media span, .short-bio h2 + p, .provider-page h1+p {
    font-size: .85rem;
}

footer p a:hover, footer ul a:hover, .exo-menu > li > a.active {
    color: #c6a24a;
}

.short-bio h2 + p, .provider-page h1+p {
    letter-spacing: 1px;
}

footer .social-media {
    font-size: 1.6rem;
}

/*--- 1.3 - Buttons ---*/

.button, .button[type="submit"] {
    border: solid 1px #095369;
    margin-top: 1rem;
    padding: 1rem;
}

.button-group .button:last-child {
    margin-right: 2rem;
}

.button-group p:last-child .button {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

/*--- 1.4 - Lists ---*/

ul {
    display: list-item;
    list-style-image: url('../img/star.png');
}

footer ul, nav ul, .accordion, #providers .no-bullet, .exo-menu {
    list-style: none;
}

/*--------------------------------------------------------------
2.0 - Navigation Menus
-------------------------------------------------------------- */

/*--- 2.1 - Main ---*/

.drop-down-ul, .exo-menu {
    margin-left: 0;
}

.exo-menu{
	float: left;
    position:relative;
}

.exo-menu > li {	
    display: inline-block;
}

.exo-menu > li > a, li.drop-down>ul>li>a {
	text-decoration: none;
	-webkit-transition: color 0.2s linear, background 0.2s linear;
	-moz-transition: color 0.2s linear, background 0.2s linear;
	-o-transition: color 0.2s linear, background 0.2s linear;
	transition: color 0.2s linear, background 0.2s linear;
}

.exo-menu i {
  float: left;
  margin-right: 6px;
  line-height: 20px !important;
}

li.drop-down {
    position:relative;
}

li.drop-down:before {
  color: #fff;
  display: inline;
  position: absolute;
  right: 6px;
  top: 20px;
}

li.drop-down>ul{
	left: 0;
	min-width: 230px;
}

.drop-down-ul {
    display:none;
    z-index: 3;
}

li.drop-down>ul>li>a {
	color:#16292b;
	padding: 20px 22px;
	border-bottom: 1px solid #fff;
}

.exo-menu > li > a  {
	padding: 20px 22px;
 }

 li.drop-down>ul>li>a, .drop-down-ul:hover, li.drop-down>a:hover +.drop-down-ul, .exo-menu > li > a {
     display: block;
 }

li.drop-down>ul{
	position:absolute;
}

.navbar {
    z-index: 3;
}

nav li.drop-down > a::after {
    content: '';
    border: inset 6px; 
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-bottom-width: 0;
    border-right-color: transparent;
    border-top-color: #fff;
    border-top-style: solid;
    position: relative;
    top: .7rem;
    left: 0;
    margin-left: 1rem;
}

nav li.drop-down > a.active::after {
    border-top-color: #c6a24a;
}

nav li.drop-down > a:hover::after {
    border-top-color: #16292b;;
}

/*--------------------------------------------------------------
3.0 - Content
-------------------------------------------------------------- */
body {
    background-color: #fbfaf6;
}

.navbar, .top-bar, .top-bar ul, .title-bar, body > footer, .button:hover, #contact form input[type="submit"]:hover {
    background-color: #2c5a68;
}

.exo-menu > li > a:hover, li.drop-down ul > li > a:hover, body > header .callout, .exo-menu > li:nth-child(3) > .active:hover, .accordion-title:hover, .accordion-item.is-active .accordion-title, #contact form input:focus, textarea:focus {
    background-color: #aabfc1;
}

body > div, body > section, body > .callout {
    padding: 2rem 0;
}

body > footer {
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.note .cell, #contact .rules {
    padding: 2rem;
}

.social-media svg {
    padding-left: .25rem;
    vertical-align: middle;
}

.card, .callout, .button, .button[type="submit"], .button-group .button, #contact form input, textarea {
    border-radius: 0;
}

.exo-menu, footer iframe, .orbit-slide {
    width: 100%;
}

.outline::after, body > .callout .cell {
    border: 1px solid #c6a24a;
}

.provider-page h1, #contact > footer, .provider-page > footer, #contact .rules .cell {
    margin-top: 0;
}

.button, .button[type="submit"], #contact form input, textarea, .callout, .accordion, .exo-menu > li > .active:hover {
    background-color: transparent;
}

.card, body > .callout ::before {
    background-color: #e5d8a1;
}

li.drop-down>ul>li>a, .accordion-content {
    background-color: #e7f1f2;
}

/*--- 3.1 - Site Structure (Site Header, Advertisement, Site Footer) ---*/

body > footer {
    margin-top: 5rem;
}

footer li {
    list-style-type: none;
}

footer div:last-child section:last-child h4, footer nav h4 {
    margin-top: 1.75rem;
}

footer i {
    display: inline;
}

#index h1 {
    margin-top: 3rem;
}

.inline-block img {
    margin: 2rem 1rem;
}

.cell-group div img, .inline-block img {
    height: 1rem;
}

#policies h2{
    margin-bottom: 2rem;
}

.short-bio h2, .short-bio hr+header h3, footer .medium-order-2 p:first-child, #index, .callout, body > header .callout p, .exo-menu, .provider-page h1, .provider-page header .h3 {
    margin-bottom: 0;
}

body > header {
    padding-bottom: 4rem;
}

#index {
    padding-bottom: 6rem;
}

/*--- 3.2 - Home ---*/

#index + section, #index + div {
    padding-top: 0;
}

body > .callout + footer {
    margin-top: 5rem;
}

/*--- 3.3 - Services ---*/

.rules .cell {
    margin-top: 2rem;
    border-bottom: solid 1px #c6a24a;
    padding: 0 1rem 2rem;
}

#services + section .frame {
    border-bottom: none;
    outline: 1px solid #c6a24a;
    outline-offset: 0;
    padding: 2rem;
}

/*--- 3.4 - Providers ---*/

.grid-margin-y > .cell.short-bio {
    height: calc(100% - 4rem);
    margin: 2rem 0;
}

.provider-page > header p, #providers section header p {
    line-height: 1.5rem;
}

.provider-page > header+div section:nth-child(2), .provider-page > header+div section:nth-child(3) {
    padding-top: 3.5rem;
}

.provider-page .navbar + div {
    margin-top: 6rem;
}

hr {
    width: 50%;
    margin-left: 0;
    margin-top: 1.5rem;
    border-bottom: solid 1px #c6a24a;
}

.provider-page hr {
    width: 30%;
}

.provider-page .cell-group div img {
    margin-bottom: 1rem;
}

.provider-page > header .medium-8, #providers h2 {
    margin-top: 2rem;
}

/*--- 3.5 - FAQ ---*/

.accordion-title::before, .is-active > .accordion-title::before {
    content: '';
    border: inset 6px; 
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-bottom-width: 0;
    border-right-color: transparent;
    border-top-color: #095369;
    border-top-style: solid;
    margin-top: -0.25rem;
}

.accordion {
    margin-top: 2rem;
}

/*--- 3.6 - Contact ---*/

#contact .rules .cell {
    padding: 1rem 0 0;
}

#contact .rules, form {
    margin-top: 3rem;
}

#contact > div:nth-child(3) {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f4ed;
}

#contact form input, textarea {
    border: 1px solid #095369;
}

form ::placeholder {
    color: #aabfc1;
}

#contact p:nth-child(4) a {
    margin-left: 0;
    margin-right: 1rem;
}

#contact .rules .cell {
    border-bottom: solid 1px #aabfc1;
}

#contact .rules > .grid-x:last-child .cell {
        border-bottom: transparent;
        padding-bottom: 0;
    }

/*--------------------------------------------------------------
4.0 - Media
-------------------------------------------------------------- */

.title-bar-title img, .top-bar-left img, footer img {
    width: 8rem;
}

footer iframe {
    height: 100%;
}

#services {
    background: no-repeat bottom right url(../img/blossoms-in-sunset.jpg);
}

#faq {
    background: no-repeat bottom right url(../img/california-poppies.jpg);
}

#contact > header {
    background: no-repeat bottom right url(../img/yellow-flowers-blue-sky.jpg);
}

#providers > header, .orbit-slide:nth-child(3) {
    background: no-repeat bottom right url(../img/cherry-blossom-flowers.jpg);
}

.provider-page > header, .orbit-slide:nth-child(2) {
    background: no-repeat bottom right url(../img/clouds-in-sky.jpg);
}

/*--- 4.1 - Orbit ---*/

.orbit-slide:first-child {
    background: no-repeat bottom url(../img/red-poppies-in-field.jpg);  
}

.orbit-slide:first-child, .orbit-slide:nth-child(2), .orbit-slide:nth-child(3), body > header, .provider-page > header {
    -moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
}

.orbit-slide {
    min-height: 26rem;
}

.position-relative {
    position: relative;
    top: 0;
    left: 0;
}

.position-absolute {
    position: absolute;
    top: 5rem;
    left: auto;
    width: auto;
    z-index: 0;
    padding-right: 1rem;
}

/*--------------------------------------------------------------
5.0 - Utility
-------------------------------------------------------------- */

.card {
    padding: 1.5rem;
    margin-bottom: .5rem;
}

.frame {
    outline: 1px solid #f8f5ed;
    outline-offset: -.5rem;
}

/*--- 5.1 - Background Colors ---*/

.bg-white {
    background-color: #fff;
}

/*--- 5.2 - Alignments ---*/

.title-bar-title, .top-bar-left.hide-for-small-only {
    flex: 1;
}

.orbit {
    z-index: -2;
}

#contact .frame {
    outline: 1px solid #aabfc1;
}

.outline {
    position: relative;
    top: 0;
    left: 0;
}

.outline::after {
    content: '';
    background: transparent;
    top: 30%;
    right: -.5rem;
    bottom: 0;
    left: -.5rem;
    position: absolute;
    z-index: -1;
  }

body > .callout ::before {
    content: '';
    top: 4rem;
    bottom: 4rem;
    right: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

body > .callout .cell {
    padding: 3rem 1rem;
}

.accordion-title, .accordion-title:hover {
    font-size: 1rem;
    color: #547787;
}

.accordion-title, .accordion-content, .callout, .card {
    border: none;
}

.accordion-item {
    border-bottom: 1px solid #095369;
}

.accordion-title, .accordion-title:hover, .accordion-content {
    padding-right: 2.5rem;
    line-height: 1.7rem;
}

.inline-block li {
    display: inline-block;
}

/*--------------------------------------------------------------
6.0 - Media Queries
-------------------------------------------------------------- */

@media (max-width:40em){ /* small */

	.exo-menu {
		min-height: 58px;
        z-index: 1;
	}
	
	.exo-menu > li > a {
	    display:none ;
    }
    
	.exo-menu > li, .exo-menu > li > a {
		width: 100%;
    }
    
	.display.exo-menu > li > a {
	    display: block;
	  	padding: 20px 22px;
	}
	
    li.drop-down>ul, .top {
        position: relative;
        z-index: 1;
    }

}

@media screen and ( min-width: 40em ) { /*medium */
    

    /* Typography */

    h2, body > .callout p:first-child {
        font-size: 1.8rem;
    }

    .short-bio h2 {
        font-size: 1.5rem;
        font-weight: 900;
    }

    h1 {
        font-size: 3rem;
    }

    h1 span {
        font-size: 4rem;
    }

    .provider-page h1 {
        font-size: 2.25rem;
    }

    .provider-page h1 span {
        font-size: 1.25rem;
    }
    
    h4, .short-bio h2 + p, .provider-page h1+p {
        font-size: 1rem;
    }

    h3, .h3 {
        font-size: 1.25rem;
    }

    .short-bio h2 + p, .provider-page h1+p {
        letter-spacing: 2px;
    }

    /* Alignment */

    body > header {
        padding-bottom: 0;
    }

    #index {
        padding-bottom: 0;
    }

    #index h1 {
        margin-top: 3rem;
    }

    body > .callout .cell {
        padding: 4rem;
    }

    body > div, body > section {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    #contact .rules {
        margin-top: 0;
    }

    #contact > div:nth-child(2) {
        margin-top: 3rem;
    }

    #contact > div:nth-child(3) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    form .input-group-button {
            -webkit-box-pack: end;
            -moz-box-pack: end;
            -ms-box-pack: end;
            -webkit-justify-content: flex-end;
            -moz-justify-content: flex-end;
            -ms-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
    }

    .grid-margin-y > .cell.short-bio {
        height: calc(100% - 5rem);
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }

    form > div > div:first-child, body > div .large-7 {
        padding-right: 2rem;
    }

    .provider-page > header .medium-8, #providers h2 {
        margin-top: 0;
    }

    /* Navigation */

    .drop-down-ul {
        padding-top: 1rem;
    }

    /* Media */

    .orbit-slide {
        min-height: 36rem;
    }
   
}

@media screen and ( min-width: 64em ) { /*large*/

    /* Typography */

    h2, body > .callout p:first-child {
        font-size: 2.2rem;
    }

    h1 {
        font-size: 3.75rem;
    }

    .provider-page h1 {
        font-size: 2.75rem;
    }
    
    h1 span {
        font-size: 6rem;
    }

    #index h1 {
        margin-top: 7rem;
    }
    
    /* Alignment */
    
    .grid-container {
        max-width: 90%;
    }

    .cell-group > div.cell {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        width: calc(25% - 3rem);
    }

    .cell-group div:last-child img {
        height: 1rem;
        margin-bottom: 2rem;
        margin-top: 30%;
    }

    .cell-group-3 > div.cell, .provider-page .cell-group > div.cell {
        width: calc(33% - 3rem);
    }

    body > div, body > section {
        padding-top: 4.5rem;
        padding-bottom: 4.5rem;
    }

    #contact > div:nth-child(2) {
        margin-top: 0;
    }

    .grid-margin-y > .cell.short-bio {
        height: calc(100% - 7rem);
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
    }

    .provider-page > header+div section:nth-child(2) {
        padding-left: 2rem;
    }

    form > div > div:first-child {
        padding-right: 4rem;
    }

    /* Media */

    .orbit-slide:first-child {
        background: no-repeat bottom right url(../img/red-poppies-in-field.jpg);   
    }
    
    .orbit-slide:nth-child(2) {
        background: no-repeat bottom right url(../img/clouds-in-sky.jpg); 
    }
    
    .orbit-slide:nth-child(3) {
        background: no-repeat bottom right url(../img/cherry-blossom-flowers.jpg); 
    }

    .orbit-slide, #index {
        min-height: 41rem;
    }
    
}
